.player {
    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 5rem; /* 20 * 0.25rem */
    padding-inline: 1.5rem;
    gap: 1rem; /* 4 * 0.25rem */
    justify-content: space-between;
    align-items: center;
    z-index: 40;
    color: white;
    background-color: #0b111c;
}

.playerDesk {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: calc(100% - 10rem);
    background-color: #000000;
    margin-bottom: 5rem;
    padding-right: 18rem;

    gap: 3rem;
    bottom: -200%;
    z-index: 10;
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    transition: all .5s;
}

.playerDesk.Open {
    bottom: 0;
    transition: all .5s;
}


.playerDesk :last-child {
    scrollbar-color: white transparent;
}

.arrowUp {
    transform: rotateX(0deg);
}


.arrowDown {
    transform: rotateX(180deg);
}

@media (width < 1024px) {
    .playerDesk {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (width<768px) {
    .playerDesk {
        display: none;
    }

    .playerMobile {
        top: 0;
        transition: all .2s;
    }
    
    .playerMobileOpen {
        top: 100%;
        transition: all .2s;
    }

    .audioControlsContainer {
        display: none;
    }

    .PlayButtonMobile svg {
        fill: black;
    }


    .arrowUpMobile {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 1rem;
        z-index: 100;
        background-color: #303c4d;
        border-radius: 50%;
        transition: all .7s;
    }
}

@media (width<480px) {
    .SongArtist span {
        max-width: 10rem;
    }
}