---
import type { GetStaticPaths } from "astro";
import Musics from "../components/Musics.astro"
import Layout from "../layouts/Layout.astro"
import { playlists } from "../lib/data"
import { allPlaylists, songs } from "../lib/data"

 export const getStaticPaths = (() => {
  
  return [
    {
      params: {
        id: "1"
      }
    },
    {
      params: {
        id: "2"
      }
    },
    {
      params: {
        id: "3"
      }
    },
    {
      params: {
        id: "4"
      }
    },
    {
      params: {
        id: "5"
      }
    },
    {
      params: {
        id: "6"
      }
    },
    {
      params: {
        id: "7"
      }
    },
    {
      params: {
        id: "8"
      }
    },
    {
      params: {
        id: "9"
      }
    },
    {
      params: {
        id: "10"
      }
    },
    {
      params: {
        id: "11"
      }
    },
    {
      params: {
        id: "12"
      }
    }
  ];
}) satisfies GetStaticPaths;

const { id } = Astro.params

const playlist = allPlaylists.find((song) => song.id === id)
const playListSongs = songs.filter((songs) => songs.albumId === playlist?.albumId)
---

<Layout title="Playlist">
  <div class="flex flex-col lg:flex-row sm:justify-normal gap-4 w-full h-full justify-center">
    <div class="flex flex-col order-2 lg:order-1">
      <img
        src={ playlist?.image }
        alt=""
        transition:name=`${ id } image`
        class=" w-[200px] h-auto lg:w-[500px] rounded-xl object-cover aspect-auto"
      />
      <p
        class="text-gray-400 flex flex-col text-2xl"
        transition:name=`${ id } artist`
      >
        { playlist?.artists }
      </p>
    </div>
    <div class="order-1 lg:order-2">
      <h1
        transition:name=`${ id } title`
        class="text-2xl text-wrap lg:text-5xl text-white max-w-90"
      >
        { playlist?.title }
      </h1>
    </div>
  </div>
</Layout>