---
import Layout from "../layouts/Layout.astro";
import Musics from "@/components/Musics.astro";
import { playlists } from "../lib/data"


interface Props {
  image: string;
  title: string;
  artist: string;
  transition: string;
}

const { image, title, artist, transition } = Astro.props;

---

<Layout title="YouTube Music Clon">
  <h1 class="block text-xl md:text-4xl font-bold text-white">YouTube Music Clon</h1>
  <div class="flex flex-row overflow-auto gap-2" id="canciones">
    {playlists.map((song) => <Musics song={song} />)}
  </div>
</Layout>

<!-- <script>
  const options = {
    method: "GET",
    headers: {
      "X-RapidAPI-Key": "02ea4c2d99msh9436a7e1b8cf5e1p1aba42jsneeb82c4818fe",
      "X-RapidAPI-Host": "spotify23.p.rapidapi.com",
    },
  };

  function apiCall(done: (data: any) => void) {
    const resultados = fetch(
      "https://spotify23.p.rapidapi.com/search/?q=%3CREQUIRED%3E&type=multi&offset=0&limit=10&numberOfTopResults=5",
      options
    );
    resultados
      .then((res) => res.json())
      .then((data) => {
        done(data);
      });
  }

  apiCall((data: any) => {
    data.albums.forEach((results: any) => {
      const article = document.createRange().createContextualFragment(`
      <article class="flex flex-col w-60 h-auto p-2">
         <img
           class="w-full"
           src="${results.images[0].url}"
           alt=""
          />
         <h1 class="text-white justify-start text-xl">
          ${results.name}
          </h1>
         <p class="text-gray-400 opa">
          ${results.artists[0].name}
          </p>
     </article>
      `);
      const music = document.querySelector("#canciones");
      music?.append(article);
    });
  });
</script>
 -->
