---
interface Props {
  transition: string;
}

const { transition } = Astro.props;
---

<div class="flex flex-col lg:flex-row sm:justify-normal gap-4 w-full h-full justify-center">
  <div class="flex flex-col order-2 lg:order-1">
    <img
      src="/tn.jpeg"
      alt=""
      transition:name=`${ transition } image`
      class=" w-[200px] h-auto lg:w-[500px] rounded-xl object-cover aspect-auto"
    />
    <p
      class="text-gray-400 flex flex-col text-xl"
      transition:name=`${ transition } artist`
    >
      Mon Laferte
    </p>
  </div>
  <div class="order-1 lg:order-2">
    <h1
      transition:name=`${ transition } title`
      class="text-2xl text-wrap lg:text-5xl text-white max-w-90 mt-10"
    >
      Tu Falta De Querer
    </h1>
  </div>
</div>
