---
import type { Song } from "@/lib/songData"
import { Image } from 'astro:assets';
import { CardPlayButton } from "@/components/PlayButtonCard";

interface Props {
  song: Song;
}

const { song } = Astro.props
const { id, title, artists, image } = song
---

<article 
  class="flex flex-col min-w-42 bg-gradient-to-b to:transparent from:bg-gray-900 mb-4">
  <picture class="relative">
    <Image
    decoding={`auto`}
    src=`${ image }`
    alt=`${ title } cover`
    width={210}
    height={210}`
    />
    <CardPlayButton padding="p-10" id={id} title={title} client:visible />
    </picture>
  <h1 class="text-white justify-start text-lg  sm:text-md mt-1"
  >{ title }</h1>
  <a href={`/artist/${ id }`} 
   class="text-md sm:text-sm text-gray-400 hover:text-gray-300 active:text-gray-300 transition-colors" 
   transition:name=`artist ${ id }`
   >
     { artists }
  </a>
</article>
