---
import type { Song } from "@/lib/songData"
import { Image } from 'astro:assets';
import { CardPlayButton } from "@/components/PlayButtonCard";

interface Props {
  song: Song;
}

const { song } = Astro.props
const { id, title, artists, image } = song
---

<article 
  class="flex flex-col relative min-w-48 h-auto p-2 rounded-lg bg-opacity-10 bg-gradient-to-b from-gray-700 to-transparent hover:bg-opacity-100  transition-all">
  <picture class="relative">
    <Image
    decoding={`auto`}
    src=`${ image }`
    alt=`${ title } cover`
    width={320}
    height={320}`
    loading="eager"
    />
    <CardPlayButton padding="p-10" id=`${id}` client:visible />
    </picture>
  <h1 class="text-white justify-start text-lg  sm:text-xl mt-1"
  >{ title }</h1>
  <a href={`/artist/${ id }`} 
   class="text-md sm:text-xl text-gray-400 hover:text-gray-300 active:text-gray-300 transition-colors" 
   transition:name=`artist ${ id }`
   >
     { artists }
  </a>
</article>
