---
import type { Playlist } from "@/lib/data"
import { Image } from 'astro:assets';


interface Props {
  song: Playlist;
}

const { song } = Astro.props
const { title, artists, image, id } = song
---

<article class="flex flex-col min-w-48 h-auto p-2 rounded-lg bg-gray-800/30 hover:bg-gray-600 transition-all cursor-pointer">
<a href={`/${id}`} data-id={id}>
  <Image
    decoding={`auto`}
    src=`${ image }`
    alt=`${ title } cover`
    width={320}
    height={320}
    transition:name=`${ id } image`
    loading="eager"
      />
  <h1 class="text-white justify-start text-xl mt-1"
    transition:name=`${ id } title`
  >{ title }</h1>
  <p class="text-xl z-30 text-gray-400 hover:text-gray-300 active:text-gray-300 transition-colors"  transition:name=`${ id } artist`>{ artists }</p>
</a>
</article>
