---
interface Props {
    image: string;
    title: string;
    artist: string;
}

const { image, title, artist } = Astro.props;
---

<article class="flex flex-col w-60 h-auto p-2">
    <img
      class="w-full"
      src={ image }
      alt=""
    />
    <h1 class="text-white justify-start text-xl">{ title }</h1>
    <p class="text-gray-400 opa">{ artist }</p>
  </article>