---
import MainIcon from "./icons/MainIcon.astro"
import ExplorerIcon from "./icons/ExplorerIcon.astro"
import LibraryIcon from "./icons/LibraryIcon.astro"
---

<div class="w-full h-14  md:hidden bg-gray-800  ">
    <ul class="flex row w-full items-center justify-items-center h-full justify-between px-10 ">
      <li class="p-3 rounded-full active:bg-slate-400 transition-colors"><a href="/" aria-label="icon"><MainIcon /></a></li>
      <li class="p-3  rounded-full active:bg-slate-400 transition-colors"><a href="/" aria-label="icon"><ExplorerIcon /></a></li>
      <li class="p-3 rounded-full active:bg-slate-400 transition-colors"><a href="/" aria-label="icon"><LibraryIcon /></a></li>
    </ul>
</div>