---
import  Principal  from '../../public/Icons/Principal.astro'
---

<aside class="flex flex-col gap-1 max-w-96 border-gray-800">
    <ul>
        <li><a href=""><Principal></a></li>
        <li></li>
        <li></li>
    </ul>
</aside>